@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=VT323&display=swap');

body {
    background-color: white;
    margin: 0;
}


.link {
    font-size: 40px;
    font-family: 'VT323', monospace;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 70px;
}

.link:hover{
    text-decoration: underline;
}

.app-container {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 1px solid black; */
    background-color: black;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    padding: 20px
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    background-color: black;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    padding: 10px;
}

img.linkedin-logo {
    max-width: 3%;
    max-height: 3%;
}

.about-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'VT323', monospace;
    color: black;
    margin: 100px;
}

.selfie{
    max-height: 70%;
    max-width: 70%;
    border-radius: 5px;
}

.home-container {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-family: 'VT323', monospace;
    color: black;
    align-items: center;
    margin-top: 250px;
    justify-content: space-between;
    min-height: 40vh;
}

.gif-container {
    display: flex;
    justify-content: center;
}
.jumping-gif{
    max-height: 80%;
    max-width: 80%;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-family: 'VT323', monospace;
    color: black;
}

.coding-companions-image {
    max-height: 30%;
    max-width: 30%
}

.coding-companions-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 70%;
}